/*----------------HTML-------------------*/

body {
  background-color: #666868;
  margin: 0px;
}

/*---------------Header------------------*/

header {
  background-color: #71B4BA;
  height: 100%;
  margin: 0px;
  width: 100%;
}

#headerInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

h1 {
  text-shadow: 2px 2px black;
  color: white;
  font-size: 60px;
  margin: 0px;
  padding: 5px;
  position: absolute;
  width: 300px;
}

img.weights {
  height: 46px;
  margin: 0px 10px 0px 10px;
  width: 46px;
}

#friend-one-img,
#friend-two-img,
#prof-pic {
  box-shadow: 1px 1px black;
  border: solid #ffffff;
  border-radius: 72px;
  height: 60px;
  margin-top: 3px;
  width: 60px;
}

figure {
  box-shadow: 1px 1px black;
  border: solid #fff;
  border-radius: 50px;
  height: 30px;
  margin: 10px;
  padding: 7px;
  width: 160px;
}

img.calendar {
  height: 30px;
  margin-right: 10px;
  width: 30px;
}

#datetime {
  text-shadow: 1px 1px black;
  color: #fff;
  font-size: 25px;
  margin-top: 1px;
  position: absolute;
}

/*------------------Main-----------------*/

h2 {
  font-size: 30px;
  letter-spacing: 1px;
  color: white;
  text-shadow: 2px 2px black;
  margin: 0px;
  padding: 8px;
}
/*----------Widget Container-----------*/
h3 {
  background-color: #71B4BA;
  border-radius: 5px;
  color: white;
  font-size: 30px;
  margin: 5px 0px 5px 0px;
  padding: 5px 0px 5px 0px;
  text-align: center;
  text-shadow: 2px 2px black;
}

p {
  font-size: 19px;
  font-weight: bold;
  margin: 15px 2px 10px 2px;
  text-align: center;
}

p.user-address {
  margin: 20px;
}

section.widgetContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10px;
  padding: 10px;
}

nav.dashTitle {
  background-image: linear-gradient(to left, rgba(247, 250, 250, 0), #71B4BA);
  height: 100%;
  margin: auto;
  width: 100%;
}

.single-chart {
  justify-content: space-around ;
  width: 100%;
}

.circular-chart {
  display: block;
  margin: auto;
  max-width: 150px;
  max-height: 150px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  animation: progress 1s ease-out forwards;
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.green .circle {
  stroke: #4CC790;
}

.circular-chart.red .circle {
  stroke: #e53c3c;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.4em;
  text-anchor: middle;
}

img.shoe {
  height: 180px;
  width: 100%;
}

img.moon {
  height: 140px;
  padding: 6px 0px 6px 0px;
  width: 100%;
}

img.foot {
  height: 160px;
  padding: 10px 0px 10px 0px;
  width: 100%;
}

#user-longest-sleep-hours, #user-longest-sleep-date, #user-steps-record, #user-miles {
  color: black;
  font-family: sans-serif;
  font-size: 23px;
  padding: 0px;
}

article.widget {
  background-color: #F9FCFB;
  border-radius: 5px;
  box-shadow: 7px 7px #71B4BA;
  height: 300px;
  margin: 10px;
  padding: 10px;
  position: relative;
  width: 30%;
}

article.widget-data {
  background-color: #F9FCFB;
  border-radius: 5px;
  box-shadow: 7px 7px #71B4BA;
  height: 300px;
  margin: 10px;
  padding: 10px;
  position: relative;
  width: 60%;
}

canvas {
  margin: auto;
}


